BLT_HOSTNAME=bltrefreshed.evepirate.nl
BLT_POSTGRES_PASSWORD=replace-with-a-long-random-password
BLT_ALLOWED_ORIGINS=https://9s875jccvid4vhiv85rqq34z990eiq.ext-twitch.tv
TWITCH_EXTENSION_SECRET=replace-with-the-base64-extension-secret
